@import '../../general.scss';

.communication {
    background-color: #FAFBFD;
    padding: 96px 0 82px;
    position: relative;
}

.communication__content {
    @include flexRowBetween;
}

.communication__images {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tab__img {
        max-width: 624px;
        height: 370px;
    }
}

.communication__text {
    width: 33%;

    h5 {
        margin-bottom: 40px;
    }

    .tabs__btn-group {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 64px;
        border-bottom: solid 2px rgba(33, 39, 46, 0.14);
    }

    h6 {
        @include font(18px, 1.67, bold);
        padding-top: 56px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1279px) {

    .communication__images {
        width: 50%;
    }

    .communication__images .tab__img {
        max-width: 474px;
        height: 300px;
    }

    .communication__text {
        width: 40%;
    }
}

@media (max-width: 1023px) {
    .communication__content {
        flex-direction: column-reverse;
    }

    .communication__text {
        text-align: center;
        width: 100%;

        .tabs__btn-group {
            justify-content: center;
            border-bottom: none;
        }

        .tabs__desk {
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .communication__images {
        margin-left: 0;
    }

    .communication {
        padding: 66px 0 222px;
    }
}

@media (max-width: 767px) {
    .communication__images .tab__img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .communication__text .tabs__desk{
        width: 80%;
        bottom: 40px;
    }

    .communication {
        padding: 56px 0 242px;
    }
}