.demo__section {
  position: relative;
  text-align: center;
  padding: 0 0 52px;
}

.demo__img {
  position: relative;
  z-index: 2;
  margin-top: -99px;
  height: 100%;
  max-width: 1055px;
}

@media screen and (max-width: 1279px) {

  .demo__section {
    padding: 0 0 31px;
  }

  .demo__img {
    width: 1069px;
    height: 659px;
    object-fit: contain;
    left: -40px;
    margin-top: -121px;
  }
}

@media screen and (max-width: 1023px) {

  .demo__section {
    padding: 0 0 58px;
  }

  .demo__img {
    width: 750px;
    height: 434px;
    object-fit: contain;
    left: -13px;
    margin-top: -99px;
  }
}

@media screen and (max-width: 767px) {
  .demo__section {
    padding: 0 0 35px;
  }

  .demo__img {
    width: 751px;
    height: 435px;
    margin-top: -72px;
    left: -4px;
  }
}
