.dots__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./b1.png") no-repeat right 93px top 5px/600px,
    url("./b2.png") no-repeat right 100px top 802px/961px,
    url("./b3.png") no-repeat left 319px bottom 998px/710px,
    url("./b4.png") no-repeat left 323px bottom 151px/370px;
}

@media screen and (max-width: 1279px) {
  .dots__bg {
    background: url("./b1.png") no-repeat right -163px top / 600px,
      url("./b2.png") no-repeat right -164px top 1113px/960px,
      url("./b3.png") no-repeat left 335px bottom 1002px/695px,
      url("./b4.png") no-repeat left 316px bottom 190px / 390px;
  }
}

@media screen and (max-width: 1023px) {
  .dots__bg {
    background: url("./b1.png") no-repeat right -430px top / 600px,
      url("./b2.png") no-repeat right -180px top 1114px /750px,
      url("./b3.png") no-repeat left 70px  bottom 3900px / 670px,
      url("./b4.png") no-repeat left 103px bottom 530px / 390px;
  }
}

@media screen and (max-width: 767px) {
  .dots__bg {
    display: none;
  }
}
