.dots__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./b1.png") no-repeat right 93px top 5px/600px,
    url("./b2.png") no-repeat right 100px top 802px/961px,
    url("./b3.png") no-repeat left 319px bottom 998px/710px,
    url("./b4.png") no-repeat left 323px bottom 151px/370px;
}

@media screen and (max-width: 1279px) {
  .dots__bg {
    background: url("./b1.png") no-repeat right -163px top / 600px,
      url("./b2.png") no-repeat right -164px top 1113px/960px,
      url("./b3.png") no-repeat left 335px bottom 1002px/695px,
      url("./b4.png") no-repeat left 324px bottom 148px/370px;
  }
}

@media screen and (max-width: 1023px) {
  .dots__bg {
    background: url("./b1.png") no-repeat right -419px top 7px / 600px,
      url("./b2.png") no-repeat right -409px top 769px/960px,
      url("./b3.png") no-repeat left 51px bottom 3788px/695px,
      url("./b1.png") no-repeat left 324px bottom 566px/570px;
  }
}

@media screen and (max-width: 767px) {
  .dots__bg {
    display: none;
  }
}
