@import '../../general';

.app {
    position: relative;
}

main {
    overflow: hidden;
}

.container {
    max-width: 1128px;
    margin: 0px auto;
}

.container__fluid {
    max-width: 1128px;
    margin: 0px auto;
}

@media (max-width: 1279px) {
    .container {
        padding: 0px 48px;
    }

    .container__fluid {
        padding: 0px 24px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0px 24px;
    }
}

.section__name {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    color: #21272e;
}

.section__desk {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #787c80;
}

h6 {
    font-size: 18px;
    line-height: 1.67;
    font-weight: bold;
    color: #21272e;
}

.btn {
    @include flexRowCenter;
    border-radius: 6px;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn__transparent {
    border: solid 1px rgba(144, 149, 153, 0.35);
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #21272e;
}

.btn__red {
    border-radius: 8px;
    background-image: linear-gradient(104deg, $redBtnColor1, $redBtnColor2);
    @include font(15px, 1.33, 500);
    color: $textColorForDark;
    letter-spacing: 1.1px;
}

.top__btn {
    width: 214px;
    height: 52px;
    margin: 0 auto;
    box-shadow: 0px 15px 18px -12px rgba(0, 0, 0, 0.5)
}

.tab__btn {
    width: 128px;
    height: 48px;
    font-weight: bold;
    outline: none;
    color: #787c80;
}

.tab__btn:first-child {
    margin-right: 24px;
}

.tab__btn.tab__btn-active {
    color: $redBtnColor2;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
    background-color: $textColorForDark;
}