
main {
    overflow: hidden;
}

.container {
    max-width: 1128px;
    margin: 0px auto;
    padding: 0px 20px;
}

@media (max-width: 1279px) {
    .container {
        padding: 0px 44px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0px 24px;
    }
}

.section__name {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    color: #21272e;
}

.section__desk {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #787c80;
}

h6 {
    font-size: 18px;
    line-height: 1.67;
    font-weight: bold;
    color: #21272e;
}