@import "../../general.scss";
@font-face {
  font-family: HandOfSeanPro;
  src: url("../../fonts/Hand_Of_Sean.ttf");
}

.getStart {
  position: relative;
  padding: 228px 0 39px;
  background-image: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgb(250, 250, 250) 100%
  );
}

@media (min-width: 1280px) {
  .getStart::after {
    content: "";
    width: 66px;
    height: 77px;
    position: absolute;
    bottom: 57px;
    right: 37px;
    background: url("./dots.png") no-repeat bottom right / 105px 150px;
    border-top-left-radius: 51px;
  }
}

.oval__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./ovalbg.png") no-repeat left -113px bottom -49px / 719px;
  z-index: 2;
}

.getStart__content {
  display: flex;
  height: 550px;
  position: relative;
  z-index: 2;
  flex-flow: column wrap;
}

.getStartHead {
  width: 494px;
  h5 {
    padding: 17px 0 150px 0;
    @include font(40px, 56px, bold);
    text-align: left;
    letter-spacing: 0.7px;
  }
}

.arrow__box {
  font-family: HandOfSeanPro;
  @include font(20px, 1.1, normal);
  color: #21272e;
  letter-spacing: -3px;
}

.meet__us-arrow {
  position: absolute;
  top: -46px;
  left: -53px;

  img {
    width: 109px;
    height: 64px;
    object-fit: contain;
    position: absolute;
    top: -30px;
    right: -31px;
  }
}

.meet__us {
  position: relative;
  width: 288px;

  .countries__list {
    list-style: none;
    @include flexRowBetween;
    flex-wrap: wrap;
    width: 288px;
    height: 150px;
    padding: 14px 26px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 14px -6px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;

    .country__item {
      display: flex;
      align-items: center;
      width: 50%;

      &:nth-child(even) {
        padding-left: 28px;
      }

      .country__name {
        @include font(14px, 1.36, 500);
        color: #21272e;
      }

      img {
        margin-right: 9px;
      }
    }
  }
}

.form__box {
  position: relative;
  max-width: 447px;
  height: 496px;
  margin-left: 80px;
  margin-top: 5px;

  .form__box-bg {
    position: absolute;
    width: 105%;
    height: 100%;
    background: url("./dots.png") no-repeat right 1px top 40px / 98px 182px,
      url("./dots.png") no-repeat left 57% bottom / 98px 182px;
    z-index: 2;
  }

  .sign__us-arrow {
    font-family: HandOfSeanPro;
    @include font(20px, 1.1, normal);
    color: #21272e;
    position: absolute;
    left: 18%;
    top: -61px;
    letter-spacing: -2.7px;

    img {
      position: absolute;
      left: -42px;
      right: auto;
      top: -31px;
      width: 117px;
      height: 50px;
    }

    p {
      white-space: nowrap;
    }
  }

  .contact__form {
    width: 407px;
    height: 461px;
    border-radius: 13px;
    box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 32px;
    position: relative;
    z-index: 5;

    h6 {
      line-height: 1.4;
      padding-bottom: 49px;
    }

    .input__wrap {
      width: 100%;
      height: 56px;
      @include flexRowBetween;
      margin-bottom: 32px;
    }

    .spec__wrap {
      position: relative;
      margin-bottom: 37px;
      &::after {
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 16px;
        top: 16px;
        background: url("./icon24Phone.svg") no-repeat top center / cover;
      }
    }

    .form__input {
      @include font(14px, 1.36, 500);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: solid 1px rgba(144, 149, 153, 0.35);
      padding: 18px 16px;
      color: rgba(144, 149, 153, 0.35);
      outline: none;
    }

    .code__input {
      width: 96px;
    }

    .phone__input {
      width: 231px;
      position: relative;
      padding-right: 40px;
    }

    .form__btn {
      width: 172px;
      height: 52px;
      outline: none;
      padding: 0 2px 5px 11px;
    }

    .no__spam {
      @include font(12px, 1.1, 500);
      color: #909599;
      padding-right: 14px;
    }
  }
}

@media screen and (max-width: 1279px) {
  .oval__bg {
    background: url("./ovalbg.png") no-repeat left -113px bottom 30px/719px;
  }
  .getStartHead h5 {
    padding: 18px 37px 131px 0;

    br {
      display: none;
    }
  }

  .form__box {
    margin-left: 34px;
    margin-top: 110px;

    .form__box-bg {
      width: 120%;
      height: 120%;
      top: -15%;
      left: -1%;
      background: url("./dots.png") no-repeat right 40px top 5px/ 100px 182px;
    }

    .contact__form {
      .input__wrap {
        margin-bottom: 32px;
      }

      .spec__wrap {
        margin-bottom: 37px;
      }

      h6 {
        padding-bottom: 49px;
      }
    }

    .sign__us-arrow {
      top: -165px;
    }
  }

  .meet__us-arrow {
    left: -22px;
  }

  .getStart {
    padding: 250px 0 116px;
  }
}

@media screen and (max-width: 1022px) {
  .getStart::before {
    content: "";
    display: block;
    height: 100%;
    width: 35%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    background-color: #fff;
  }
}

@media screen and (max-width: 1023px) {
  .getStart {
    padding: 108px 0 81px;
  }

  .oval__bg {
    background: url("./ovalbg.png") no-repeat left -132px bottom 400px/719px;
  }

  .getStartHead {
    text-align: center;
    width: 100%;
    order: 1;
    position: relative;
    left: 15px;

    h5 {
      padding: 19px 0 170px;
      width: 68%;
      @include font(32px, 45px, bold);
      margin: 0 auto;
      text-align: center;
    }
  }

  .getStart__content {
    height: auto;
    align-items: center;
  }

  .meet__us {
    order: 3;
    margin-top: 77px;
    left: 13px;

    .meet__us-arrow {
      left: 72px;
      top: -48px;
    }
  }

  .form__box {
    height: 486px;
    order: 2;
    margin-top: -7px;
    margin-left: -3px;

    .form__box-bg {
      background: url("./dots.png") no-repeat right 16px top 117px / 98px 182px,
        url("./dots.png") no-repeat left 62% bottom 33px / 98px 182px;
    }

    .sign__us-arrow {
      top: -62px;
      left: 86px;
    }
  }

  .countries__list {
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: -1;
      right: -14px;
      bottom: -83px;
      width: 130px;
      height: 210px;
      background: url("./dots.png") no-repeat top right / 111px 181px;
      transform: rotate(90deg) scaleY(-1);
    }
  }
}

@media screen and (max-width: 767px) {
  .getStart {
    padding: 72px 0 88px;
  }

  .oval__bg {
    display: none;
  }

  .getStartHead {
    left: 0;
    &::before {
      display: none;
    }

    h5 {
      @include font(28px, 1.4, bold);
      width: 93%;
      padding: 19px 0 132px;
    }
  }

  .form__box {
    width: 100%;
    height: 492px;
    order: 2;
    margin-top: 0;

    .form__box-bg {
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      background: url("./dots.png") no-repeat right top 15px / 98px 182px,
        url("./dots.png") no-repeat left 8px bottom 30px / 98px 182px;
    }

    .contact__form {
      width: 100%;
      height: 491px;
      padding: 32px 27px 32px 32px;

      .form__head {
        padding-left: 5px;
      }

      .input__wrap {
        flex-wrap: wrap;
        justify-content: center;
      }

      .spec__wrap {
        justify-content: space-between;
        margin-bottom: 40px;
      }

      .code__input {
        width: 32%;
      }

      .phone__input {
        width: 62%;
      }

      .input__wrap:last-child {
        height: auto;
      }

      .form__btn {
        width: 252px;
        margin:0 auto 21px;
        padding: 0 2px 5px 16px;
      }

      .no__spam {
        padding-right: 5px;
      }
    }

    .sign__us-arrow {
      left: auto;
      right: 0;
      top: -55px;
    }
  }

  .meet__us {
    margin-top: 128px;
    left: 0;
    .meet__us-arrow {
      left: 11px;
    }
  }
}
