@import "../../general";

.steps {
  background-color: $bgColor;
  padding: 91px 0 91px;
  position: relative;
  z-index: 2;
}

.steps__head {
  text-align: center;

  h5 {
    padding: 22px 0 91px;
  }
}

.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .step {
    text-align: center;
    position: relative;
    width: 31%;

    &:nth-child(-n + 2)::after {
      content: "";
      position: absolute;
      top: 28px;
      right: -44%;
      width: 270px;
      height: 2px;
      opacity: 0.1;
      background-color: #21272e;
    }

    img {
      width: 57px;
      height: 56px;
    }

    h6 {
      padding: 23px 0 8px;
    }

    .step__desk {
      @include font(14px, 17px, 600);
      color: #787c80;
      letter-spacing: 0.2px;
    }
  }
}

@media screen and (max-width: 1279px) {
  .steps__row {
    .step:nth-child(-n + 2)::after {
      width: 224px;
      right: -42%;
    }
  }
}

@media screen and (max-width: 1023px) {
  .steps {
    padding: 87px 0 101px;
  }

  .steps__head {
    h5 {
      padding: 22px 0 83px;
    }
  }

  .steps__row {
    flex-direction: column;
    align-items: center;

    .step {
      width: 100%;

      &:nth-child(-n + 2)::after {
        top: auto;
        bottom: -79px;
        right: 50%;
        width: 1px;
        height: 56px;
        transform: translateX(-50%);
      }

      &:nth-child(1) {
        margin-bottom: 103px;
      }

      &:nth-child(2) {
        margin-bottom: 88px;

        &::after {
          bottom: -64px;
        }
      }

      &:last-child {
        margin-right: 11px;
        br {
          display: none;
        }
      }

      h6 {
        padding: 7px 0 8px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .steps {
    padding: 73px 0 82px;
  }

  .steps__head {
    h5 {
      @include font(28px, 1.3, bold);
      width: 90%;
      margin: 0 auto;
      padding: 22px 0 63px;
    }
  }

  .steps__row .step:nth-child(2) {
    margin-bottom: 106px;

    &::after {
      bottom: -82px;
    }
  }
}
