@import '../../general';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 18px 0 14px;

    .logo__box {
        overflow: hidden;

        .main__logo {
            margin-left: -12px;
            width: 120px;
            height: 48px;
        }
    }
}

.nav__list {
    @include flexRowBetween;
    list-style: none;
    margin-left: 2px;
    border-left: 1px solid rgba(33, 39, 46, 0.2);
    min-height: 24px;
    padding-left: 24px;


    li {
        @include flexRowCenter; 
        margin-top: -5px;
    }

    a {
        text-decoration: none;
        @include font(12px, normal, 600);
        color: #21272e;
        padding-right: 24px;
        letter-spacing: -0.1px;
        transition: 0.4s;

        &:hover {
            color: #3897ff;
            transition: 0.4s;
        }

    }

    a.active {
        color: #3897ff;
    }
}

.logo__box {
    width: 120px;
}

.logo {
    @include flexRowBetween;
    width: 100%;
}

.nav__btn {
    @include font(12px, 100%, 600);
    width: 103px;
    height: 36px;
    padding: 0 9px 6px;
    letter-spacing: -0.1px;
}

.laptop__navigation {
    @include flexRowBetween;
    width: calc(100% - 120px)
}

@media screen and (max-width: 1279px) {
    
    
}

@media screen and (max-width: 1023px) {
    .nav__list {
        a {
            padding: 0 15px;
        }
    }
}