@import "../../general";

.partners {
  padding: 10px 0 100px;
}

.partners h5 {
  text-align: center;
}

.logo__row {
  display: flex;
  justify-content: space-between;
  max-width: 984px;
  padding: 0px;
  margin: 70px auto 0;

  .logo__item {
    .partner__logo {
      width: 138px;
      height: 86px;
      user-select: none;
      pointer-events: none;
    }

    &:nth-child(3) .partner__logo {
      width: 138px;
      height: 75px;
      margin-top: 5px;
    }
  }
}

.partners__slider {
  margin-top: 30px;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .logo__row {
    .logo__item {
      .partner__logo {
        width: 124px;
        height: 77px;
      }
    }
  }

  .logo__row .logo__item:nth-child(3) .partner__logo {
    width: 124px;
    height: 67px;
    margin-top: 5px;
}
}

@media screen and (max-width: 767px) {
  .partners {
    padding: 10px 0 60px;

    .section__name {
      @include font(28px, 1.36, bold);
    }
  }

  .partners__slider {
    margin-top: 45px;
    .swiper-slide {
      @include flexRowCenter;
      width: auto;

      .slide__img {
        position: relative;
        width: 127px;
        height: 77px;
        object-fit: contain;
      }

      &:nth-child(6) .slide__img {
        width: 127px;
        height: 67px;
      }
    }
  }
}
