@import '../../general';

.partners {
    padding: 10px 0 100px;
}

.partners h5 {
    text-align: center;
}

.logo__row {
    @include flexRowBetween;
    margin-top: 80px;
}

.logo__row .logo__item {
    width: 20%;
    text-align: center;
}

.partner__logo {
    width: 50%;
}

.partners__slider {
    margin-top: 30px;

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    .partner__logo {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .partners {
        padding: 10px 0 60px;
    }

    .partners__slider {
        .swiper-slide {
            @include flexRowCenter;

            .slide__img {
                position: relative;
                width: 127px;
                height: 77px;
                object-fit: contain;
            }
        }
    }
}