@import "../../general.scss";

.top__section {
  text-align: center;
  position: relative;
  // padding: 198px 0 223px;
  height: 700px;
  background: url("./Boxes.png") no-repeat left -126px top 124px/403px,
  url("./Fruits.png") no-repeat right -64px top 109px/330px;
  background-color: $bgColor;
}

.top__section-info {
  position: relative;
  z-index: 9;
  padding-top: 197px;
}

.confetti {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

h2 {
  @include font(13px, 1.1, bold);
  color: #f43939;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.top__section h1 {
  @include font(40px, 1.38, bold);
  color: #21272e;
  padding: 19px 0 48px 0;
  letter-spacing: 0.7px;
  text-align: center;
}

.top__section .its__free {
  @include flexRowCenter;
  margin-top: 20px;
}

.its__free {
  p {
    @include font(12px, 1.1, 500);
    color: #909599;
  }
}

@media screen and (max-width: 1279px) {
  .top__section {
    background: url("./Boxes.png") no-repeat left -222px top 124px/403px,
    url("./Fruits.png") no-repeat right -152px top 109px/330px;
  }
}

@media screen and (max-width: 1023px) {
  .top__section {
    background: url("./Boxes.png") no-repeat left -254px top 124px/403px,
    url("./Fruits.png") no-repeat right -167px top 108px/330px;

    h1 {
      padding: 19px 0 112px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .top__section {
    padding: 125px 0 0;
    height: 1190px;
    background: url("./Boxes.png") no-repeat left -182px bottom 18% / 400px,
      url("./Fruits.png") no-repeat right -168px bottom 10% / 331px;
  }

  .top__section h1 {
    @include font(28px, 1.1, bold);
    padding: 20px 0 42px 0;
  }

  .top__section h1 br {
    display: none;
  }
}
