$bgColor: #fafbfd;
$navFont: 12px;
$redBtnColor1: #ff474d;
$redBtnColor2:#fa4353;
$redBtnColor1hovered: #f0464b;
$redBtnColor2hovered:#f0505d;
$textColorForDark: #fff;

@mixin flexRowBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}