body {
  margin: 0;
  font-family: Manrope3, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Manrope3;
  src: url('fonts/Manrope3Medium500.otf'),
        url('fonts/Manrope3Semibold600.otf'),
        url('fonts/Manrope3Bold700.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
